body{

font-family: Arial;
background:#f5f5f5;

}

.container{

width:400px;
margin:50px auto;
background:white;
padding:20px;
border-radius:8px;

}

input{

width:100%;
padding:10px;
margin-bottom:10px;

}

button{

padding:8px;
margin-top:5px;
border:0;
cursor:pointer;

}

.add-btn{

width:100%;
background:pink;

}

.note{

background:#eee;
padding:8px;
margin-top:8px;

}

.edit{

background:orange;
margin-right:5px;

}

.delete{

background:red;
color:white;

}